.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  text-align: center;
}

.heading {
  font-size: 56px;
}

.subheading {
  font-size: 28px;
}
