.homeWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  gap: 20px;
  overflow-x: hidden;

  &:last-child {
    margin-bottom: 150px;
  }
}

.copyWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  max-width: 50%;
}

.title {
  font-size: 82px;
  font-weight: 700;
  color: var(--accent-green);
  line-height: 0.5rem;
}

.tagline {
  font-size: 56px;
  font-weight: 600;
}
