#root {
  max-width: 1280px;
  display: flex;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  background-color: var(--bg-dark);
  color: var(--text-primary);
}

.main {
  height: 100%;
  width: 100%;
}

.footer {
  border-block-start: 0.5px solid var(--accent-green);
  min-height: 50vh;
}
