.banner {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  padding: 8px 16px;
  background-color: var(--bg-dark-2);
  align-items: center;
}

.connectBtn {
  margin-left: auto;
}
