.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
  padding: 16px 24px;
  border-bottom: 0.1px solid color-mix(in srgb, var(--accent-green) 30%, transparent);
}

.navWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.bannerLinks {
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 24px;
}

.navLink {
  margin-inline: 24px;
  padding: 8px 8px;

  &:hover {
    cursor: pointer;
    background-color: var(--accent-green);
    border-radius: 999px;
    color: var(--bg-dark);
  }
}

.active {
  color: var(--accent-green);
  border-bottom: 2px solid var(--accent-green);
}

.connectBtn {
  margin-left: auto;
}
